.one{background:#f5dea3;
font-family:heiti;
color:#393e46;



}

.two{color:white;
font-family:heiti;
font-size: 16pt;
letter-spacing:2em;
background:#acc6aa;


}
.four{font-size: 25pt;
	font-weight: 34;
	color:#444444}
.five{color:#f16821;
background:white  }
.six{color:#bb8fa9 }